body {
  display: block!important;
  place-items: flex-start!important;
  font-family: Roboto,sans-serif;
}

.cs-main-container .cs-chat-container {
  border: none!important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cs-message__html-content {
  text-align: left;
}

.cs-message-list {
  background-color: #242424!important;
  padding-top: 30px;
}

.cs-message--outgoing .cs-message__content {
  background-color: #6763ff!important;
  color: #fff!important;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 0.7em!important;
}

.cs-message__content {
  background-color: #ffffff!important;
}

.cs-main-container {
  border: none!important;
}

.cs-button--attachment {
  display: none!important;
}

.cs-chat-container .cs-message-input {
  background-color: #242424!important;
  border: none!important;
  padding: 0.5em 0 0.9em 1em!important;
  position: fixed!important;
  bottom: 0!important;
  width: 100%;
}

.cs-message-input__content-editor-wrapper {
  background-color: #242424!important;
  border: 1px solid #fff;
}

.cs-message-input__content-editor {
  background-color: #242424!important;
  color: #fff!important;
}

.cs-message-input__content-editor[data-placeholder]:empty:before {
  color: #fff!important;
}

.cs-button--send svg path {
  fill: #fff!important;
}

.cs-typing-indicator__text {
  background-color: #242424!important;
}

.cs-message-list .cs-typing-indicator {
  background-color: #242424!important;
}

.cs-message-list__typing-indicator-container {
  position: fixed!important;
  width: 100%!important;
  bottom: 63px!important;
}

.cs-message-list .scrollbar-container {
  height: 607px!important;
}

.cs-message-list {
  min-height: 100%!important;
}